@font-face {
  font-family:bold;
  src: url(fonts/AlegreyaSans-BlackItalic.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    text-align: center;
    background-color: dodgerblue
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.text {
    position: fixed;
    right:40%;
    left: 40%;
    top: 30%;
    bottom: 50%;
}

h1{
    font-family: bold;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #000162;
    position: relative;
    padding-top:15%;
}

div {
  position: relative;
  animation: mymove 2s ;
  animation-timing-function: ease-out;
    
}

@keyframes mymove {
  from {top: -50em;}
  to {top: 0%;}
}

/* Responsive site*/

@media screen and (max-width:450px){
 
    h1{
    position: relative;
    padding-top: 25%;
}
    
@keyframes mymove {
  from {top: -50em;}
  to {top: 0%;}
}
}
    
/* button normal */
    .button-normal:hover {
    background-color: #ca5143;
    border: none;
    color: #fff;
}

/* button */
.button ,.button-normal{
    display: inline-block;
    position: relative;
    margin: 10%;
    padding: 1em 2.5em;
    border: 2px solid #000162;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #000162;
    background: transparent;
}

.button span {
    transition: 0;
    transition-delay: 0;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: 0,opacity 0.1s;
}

/* before */
.button:before {
    content: attr(data-hover);
    transform: translate(-150%,0);
}

/* after */
.button:after {
    content: attr(data-active);
    transform: translate(150%,0);

}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    transform: scale(0);
    
}

/* show :before on :hover 
    and :after on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    background-color: #ca5143;
    border: none;
    color: #fff;
    padding: 1em;
    top:0;
    transform: translate(0,0);
    transition-delay: 0.1s;
}

/* hide :before on :active*/

.button:active:before {
    transform: translate(-150%,0);
    transition-delay: 0s;
     
}

/*footer*/
footer {
  position: fixed;
  left: 1.5em;
  bottom: 1em;
  width: 100%;
  text-align: left;
}